@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
/* Dark theme styling */


body{
  flex: 1;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  
   flex: 1;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  background-color: #111;
  color: #fff;
  padding-top: 100px;
}

// navbar
.new-movie-button {
  border: none;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(182, 182, 182);
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(gray, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover:not([disabled]) {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
//3DText
.DText {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  line-height:1em;
  color:#ffffff;
  font-weight:bold;
  font-size:100px;
}
// form
.mainContainer{
  width: 100%;
  min-width:900px ;
  display: flex;
  justify-content: center;
  text-align: center;
 }
.row{
  width: 90% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: center;
}

.form-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  }
input{
  width: 85%;
}

label {
  margin-top: 19px;
  font-family: verdana;
  text-transform: uppercase;
  text-align: left;
  font-size: 19px;
  color: rgb(252, 252, 252);
  text-shadow: rgb(0, 0, 0) 2px 3px 2px;
}

input[type="text"],
input[type="number"],
textarea {
  padding: 10px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  background-color: #414040;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: white;
}

.subBtn {
  font-family: Roboto, sans-serif;
  width: 30%;
  font-size: 18px;
  color: #fff;
  background-color: #83868a;
  padding: 10px 30px;
  border: solid #ffffff 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
  transition : 1000ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 40px auto;
  position: relative;
} 
.subBtn:hover{
  transition : 1000ms;
  padding: 10px 50px;
  width: 50%;
  background-color: #fff;
  color: #070707;
  border: solid 2px #0066cc;
  text-shadow: 2px 2px 10px rgb(152, 63, 63);
}

.check {
  margin:20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
    position: relative;
}
.isSeries{
  margin-top: 70px;
  text-align: center;
}
.checkbox{
position: absolute;
top:100px;
right: 50%;
left: 50%;
width: 20px;
height: 20px;
}
